
$primary: #0074c7;
$secondary: #00497c;
$dark: #384050;
$light: #f1f8fc;
$accent-red: #cd2c2e;
$accent-green: #82b864;

$bg-light: #f1f8fc;
$text-primary: #384050;


$font-family-base: 'Graphik', Arial, sans-serif;


$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;