@import '../styles/variables';

.footer {
  background-color: $dark;
  color: white;
  padding: 3rem 0 1rem;
  margin-top: 4rem;

  h5 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
  }
}

.legalLinks {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 0.5rem;
  }

  a {
    color: white;
    text-decoration: none;
    
    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
}

.contact {
  font-style: normal;
  line-height: 1.8;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}

.copyright {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  margin: 0;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}